<% provide(:title, "QAengine")%>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      	<section class="user_info">
        	<%= link_to gravatar_for(current_user, size: 50), current_user %>
			<h1><%= current_user.name %></h1>
			<span>
				<%= link_to "view my profile", current_user %>
			</span>
			<span>
				<%= pluralize(current_user.questions.count, "Question") %>
			</span>
	    </section>
      	<section class="question_form">
        	<%= form_for(@question) do |f| %>
				<div class="field">
				    <%= f.text_area :content, placeholder: "Ask A Question..." %>
			    <%=f.label :tag_list,"Tags(Separated by Commas)"%><br/>
  				<%=f.text_field :tag_list%>
			    </div>
			    <%= f.submit "Post", class: "btn btn-primary" %>
			<% end %>
	    </section>
    </aside>
  </div>
 
    <div class="col-md-8">
      <h3>Question Feed</h3>
      	<% if @feed_items.any? %>
	    	<ol class="microposts">
				<% @feed_items.each do |question| %>
					<li id="question-<%= question.id %>">
						<%= link_to gravatar_for(question.user, size: 50), question.user %>
						<span class="user">
							<%= link_to question.user.name, question.user %>
						</span>
						<span class="content">
							<%= question.content %>
						</span>
						<span class="timestamp">
							Posted <%= time_ago_in_words(question.created_at) %> ago.
						</span>
						 <p>
    					Tags:<%=raw question.tag_list.map{|t| link_to t,tag_path(t)}.join(', ')%>
   						 </p>
						<% if current_user == question.user %>
					        <%= link_to "delete", question, method: :delete, data: { confirm: "You sure?" } %>
    					<% end %>
					</li>
					<hr>
				<% end %>
			</ol>
		<% end %>
    </div>
   
<% else %>
  Sign up Now 
<% end %>

