<div class="first-border">
	<ul class="sidebar-menu">
		<li class="sidebar-menu-list btn btn-lg btn-primary ">
			<span class="glyphicon glyphicon-plus"></span>
			<%= link_to "ASK A QUESTION", '/signup', class: "sidebar-menu-list-items" %>
		</li>
		<div class="horizontal-line-margin">
			<hr>
		</div>
		<li class="sidebar-menu-list-down mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
			<span class="glyphicon glyphicon-question-sign glyphicons-color"></span>
			<%= link_to "Questions", '#', class: " sidebar-menu-list-items-down" %>
		</li>
		<li class="sidebar-menu-list-down mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
			<span class="glyphicon glyphicon-tag glyphicons-color"></span>
			<%= link_to "Tags", '#', class: " sidebar-menu-list-items-down" %>
		</li>
		<li class="sidebar-menu-list-down mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
			<span class="glyphicon glyphicon-list glyphicons-color"></span>
			<%= link_to "Categories", '#', class: " sidebar-menu-list-items-down" %>
		</li> 
		<li class="sidebar-menu-list-down mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
			<span class="glyphicon glyphicon-user glyphicons-color"></span>
			<%= link_to "Users", '#', class: " sidebar-menu-list-items-down" %>
		</li>
	</ul>
</div>